body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    width: 95%;
    transition: transform 0.3s ease;
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.5);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.card-content h3 {
    margin: 0;
    font-size: 24px;
}

.card-content p {
    margin: 5px 0;
    font-size: 16px;
}

.card-content .details {
    display: flex;
    flex-wrap: wrap;
}

.card-content .details p {
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons .phone-button {
    font-size: 16px;
    padding: 0px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #0056b3;
}

/* Text that appears on hover */
.buttons .phone-button::after {
    content: attr(data-hover-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    font-size: 14px;
    transition: opacity 0.3s ease;
}

/* Show the text on hover */
.buttons .phone-button:hover::after {
    opacity: 1;
}

.buttons .phone-button:hover p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

#data {
    margin-top: 20px;
}

#data div {
    margin-top: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

select,
input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    animation: all .2s ease-in;
}

button:hover {
    background-color: #0056b3;
    position: relative;
    top: 1px;
}